<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Demo Chat</title>
    <!-- <script src="https://duo11chat-86b418bd3c9e.herokuapp.com/socket.io/socket.io.js"></script> -->
    

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="layout.css" />
  </head>
  <body>
    <div id="wrapper">

      
    </div>
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <script src="jquery.js"></script>
    <script src="script.js"></script>
  </body>
</html>
